html, body {
    width: 100%;
    height: 100%
}

#adminImg {
    background-image: url("./../../images/admin2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#secondImg {
    background-image: url("./../../images/flag1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80%;
    margin-top: 10%;
}
#mainImg {
    background-image: url("./../../images/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

#gradient {
background: linear-gradient(to bottom right, rgb(7, 117, 190), rgb(56, 207, 245));
}

/* .navbar .navbar-nav {
    text-align: center;
    float: right;
    
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  } */

  #sizing {
      width: 25%;
      height: 50%;
  }
.scenarioBG{
    position: relative;
    background-image: url("./../../images/scenarios/house/house.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
#img{
    position:absolute;
    top: 50%;
    left: 80%;
}
